<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <title>Welcome to Codefeed - Share and Solve</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/loggedinhome.css">
  </head>

  <body>

    <nav class="nav">
   <ul class="nav__wrap">
      <li class="nav__list"><a href="/feed" class="nav__link">Home</a></li>
      <li class="nav__list"><a href="/add" class="nav__link">Add a problem</a></li>
      <li class="nav__list"><a href="/viewproblist" class="nav__link">View solved problems</a></li>
      <li class="nav__list"><a href="/showprofile" class="nav__link">Profile</a></li>
      <li class="nav__list"><a href="/logout" class="nav__link">Logout</a></li>

   </ul>
</nav>   

<main class="content">
    <% documents.forEach(function(documentObject) { 
      %>
      
      <%
      var availableemail;
      if(documentObject.facebook.email==null)
        {
          availableemail=documentObject.local.email
        }
      else
        {
          availableemail=documentObject.facebook.email
        }
        %>
    <h2>Username: <%= documentObject.username %></h2>
    <p>Name: <%= documentObject.name %> </p>
    <p>Date Joined: <%= documentObject.date_joined %> </p>
    <p>Email:<%= availableemail %></p>
 
   
    <% }) %>
   <form action="/updateprofile">
    <input type="submit" value="Update your Profile">
</form>
 <form action="/showstats">
    <input type="submit" value="View Problems Solved by User">
</form>
</main>
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>  
    <script type="text/javascript" src="/loggedinhome.js"></script>  

  </body>
</html>
 
